
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.bg-glass{
background: rgba(255, 255, 255, 0.09);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
color: #abb2bf;

}


.text-back{
    color:  #abb2bf;
}
.w-100{
    width: 800px;
    padding: 2rem 8rem 2rem 8rem;
}
.glass-button {
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    text-decoration: none;
    border-radius: 40px;
    background-color:#FC2947;
    border: 2px solid red;
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    color:white;
    text-transform: uppercase;
  }
  
  .glass-button:hover {
    background-color:white;
    border: 2px solid rgb(228, 170, 170);
    color: red;
  }
.p-land{
    padding: 40px 0px;
}
.ball {
    position: absolute;
    top: 150px;
    right: 260px;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
    background-color: #3b4ba3;
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
  }
.bg-down{
    
    background: rgb(53,65,73);
    background: linear-gradient(130deg, rgba(53,65,73,1) 0%, rgba(31,47,152,1) 65%, rgba(89,71,224,1) 100%);
}
body{
 background: white; 
}
.book1 .rec.rec-arrow {
    display: none;
}
.generas .rec.rec-arrow {
    background: white;

}
.generas .rec.rec-arrow button svg {
    width: 10px !important;
    height: 10px !important;
}
.generas .carousel-button-group button svg {
    width: 10px !important;
    height: 10px !important;
}
.book1 .rec.rec-pagination {
    visibility: hidden;
}
.generas .rec.rec-pagination {
    visibility: hidden;
}
.font{
    font-family: 'Lobster', cursive;
}
